<!-- Page top navbar -->
<nav class="navbar navbar-fixed-top hms-header">
  <div class="hms-header__inner container-fluid">
    <div class="navbar-left hms-header__left">
      <div class="navbar-btn">
        <a href="javascript:void(0);" (click)="goHome()"><img src="assets/hisar1.png" alt="Hisaar360 Logo" class="img-fluid logo"></a>
        <button type="button" (click)="mToggoleMenu()" class="btn-toggle-offcanvas"><i class="fa fa-align-left"></i></button>
      </div>
      <app-global-search class="hms-header__search"></app-global-search>
    </div>
    <div class="navbar-right">
      <div id="navbar-menu">
        <ul class="nav navbar-nav">
          <li *ngIf="notifications.canSeeNotifications()" class="hms-notification-trigger">
            <a href="javascript:void(0);" class="icon-menu-bar" data-testid="notification-bell" (click)="toggleNotificationDrawer()" title="Notifications">
              <i class="fa fa-bell-o"></i>
              <span class="notification-dot info" *ngIf="unreadCount > 0">{{ unreadCount > 9 ? '9+' : unreadCount }}</span>
            </a>
          </li>
          <li *ngIf="canOpenPos" class="hidden-xs">
            <a href="javascript:void(0);" (click)="openPos()" class="icon-menu-bar pos-open-link" title="Open POS">
              <i class="fa fa-shopping-cart"></i>
              <span>Open POS</span>
            </a>
          </li>
          <li class="hidden-xs">
            <a href="javascript:void(0);" (click)="goToSettings()" class="icon-menu-bar" title="Settings">
              <i class="fa fa-gear"></i>
            </a>
          </li>
          <li class="hidden-xs">
            <a *ngIf="!isFullScreen" href="javascript:void(0);" (click)="openfullScreen()" id="btnFullscreen" class="icon-menu-bar"><i class="fa fa-arrows-alt"></i></a>
            <a *ngIf="isFullScreen" href="javascript:void(0);" (click)="closeFullScreen()" id="btnFullscreen" class="icon-menu-bar"><i class="fa fa-arrows-alt"></i></a>
          </li>
          <li><a (click)="logout()" href="javascript:void(0)" class="icon-menu-bar"><i class="fa fa-power-off"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="hms-notification-backdrop" *ngIf="drawerOpen && notifications.canSeeNotifications()" (click)="closeNotificationDrawer()"></div>
<aside class="hms-notification-drawer" *ngIf="notifications.canSeeNotifications()" [class.open]="drawerOpen" data-testid="notification-drawer">
  <header class="hms-notification-drawer__header">
    <div>
      <h2>Latest Updates</h2>
      <p><span class="hms-notification-unread-dot"></span> {{ unreadCount }} unread</p>
    </div>
    <div class="hms-notification-drawer__actions">
      <button type="button" class="hms-drawer-action" data-testid="notification-mute" (click)="toggleMute($event)" title="Toggle sound">
        <i class="fa" [ngClass]="notificationSound.muted ? 'fa-volume-off' : 'fa-volume-up'"></i>
      </button>
      <button type="button" class="hms-drawer-action hms-drawer-action--text" data-testid="mark-all-read" [disabled]="!unreadCount" (click)="markAllRead()">
        <i class="fa fa-check"></i>
        Mark all as read
      </button>
      <button type="button" class="hms-drawer-action" (click)="closeNotificationDrawer()" title="Close">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </header>

  <div class="hms-notification-drawer__list">
    <article
      *ngFor="let item of notificationItems"
      class="hms-notification-item"
      [class.unread]="!item.isRead"
      data-testid="notification-item"
      (click)="openNotification(item)"
    >
      <span class="hms-notification-item__timeline" [class.is-unread]="!item.isRead"></span>
      <div class="hms-notification-item__icon"><i class="fa fa-info-circle"></i></div>
      <div class="hms-notification-item__body">
        <div class="hms-notification-item__head">
          <strong>{{ item.title }}</strong>
          <small>{{ item.createdAt | date:'shortTime' }}</small>
        </div>
        <p>{{ item.message }}</p>
      </div>
      <i class="fa fa-chevron-right hms-notification-item__chevron"></i>
    </article>
    <p class="hms-notification-drawer__empty" *ngIf="!notificationItems.length">
      You're all caught up!<br>
      We'll notify you when there's something new.
    </p>
  </div>

  <footer class="hms-notification-drawer__footer">
    <a routerLink="/notifications" (click)="closeNotificationDrawer()" data-testid="view-all-notifications">View all notifications</a>
  </footer>
</aside>
