<div id="left-sidebar" class="sidebar light_active">
    <a (click)="toggleMenu()" class="menu_toggle">
        <i class="fa fa-angle-left"></i>
    </a>
    <div class="navbar-brand">
        <a [routerLink]="[homeRoute]">
            <img src="assets/hisar1.png" alt="Hisaar360 Logo" class="img-fluid logo">
        </a>
        <button type="button" (click)="cToggoleMenu()" class="btn-toggle-offcanvas btn btn-sm float-right">
            <i class="fa fa-close"></i>
        </button>
    </div>

    <div class="sidebar-scroll">
        <div *ngIf="canViewAllRoutes" class="user-account d-flex">
            <div class="user_div">
                <img src="assets/images/user.png" class="user-photo" alt="User Profile Picture">
            </div>
            <div class="dropdown">
                <span>Web Developer,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" (click)="showDropDown()">
                    <strong>Dr.Alan Green</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-right account vivify flipInY" id="drp">
                    <li><a [routerLink]="['/doctors-profile']"><i class="fa fa-user"></i>My Profile</a></li>
                    <li><a [routerLink]="['/app-inbox']"><i class="fa fa-envelope"></i>Messages</a></li>
                    <li *ngIf="canViewSettings"><a [routerLink]="['/settings']"><i class="fa fa-gear"></i>Settings</a></li>
                    <li class="divider"></li>
                    <li><a [routerLink]="['/login/access']"><i class="fa fa-power-off"></i>Logout</a></li>
                </ul>
            </div>
        </div>

        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu animation-li-delay">
                <li class="header">Hospital</li>
                <li *ngIf="canViewDashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="[dashboardRoute]"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>

                <li *ngIf="canViewDoctors || canManageDoctors">
                    <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" class="has-arrow">
                        <i class="fa fa-user-md"></i><span>Doctors</span>
                    </a>
                    <ul class="nav-dropdown" *ngIf="!isCollapsed" [@collapseExpand]>
                        <li *ngIf="canViewDoctors"><a [routerLink]="['/all-doctors']">All Doctors</a></li>
                        <li *ngIf="canManageDoctors"><a [routerLink]="['/add-doctors']">Add Doctors</a></li>
                        <li *ngIf="canViewDoctors"><a [routerLink]="['/doctors-profile']">Doctors Profile</a></li>
                        <li *ngIf="canViewDoctors"><a [routerLink]="['/doctors-schedule']">Doctors Schedule</a></li>
                    </ul>
                </li>

                <li *ngIf="canViewAppointments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/appointments']"><i class="fa fa-calendar"></i><span>Appointment</span></a>
                </li>

                <li *ngIf="canViewClinicalRecords || canManageClinicalRecords" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/clinical-records']"><i class="fa fa-stethoscope"></i><span>Clinical Records</span></a>
                </li>

                <li *ngIf="canViewPrescriptions || canManagePrescriptions">
                    <a (click)="PrescriptionCollapsed = !PrescriptionCollapsed" [attr.aria-expanded]="!PrescriptionCollapsed"
                        class="has-arrow">
                        <i class="fa fa-file-text-o"></i><span>Prescriptions</span>
                    </a>
                    <ul class="nav-dropdown" *ngIf="!PrescriptionCollapsed" [@collapseExpand]>
                        <li *ngIf="canManagePrescriptions"><a [routerLink]="['/prescriptions']">New Prescription</a></li>
                        <li *ngIf="canViewPrescriptions || canManagePrescriptions"><a [routerLink]="['/prescriptions/created']">Created Prescriptions</a></li>
                    </ul>
                </li>

                <li *ngIf="canViewPharmacy || canOpenPharmacyPos || canViewPosReports">
                    <a (click)="PharmacyCollapsed = !PharmacyCollapsed" [attr.aria-expanded]="!PharmacyCollapsed"
                        class="has-arrow">
                        <i class="fa fa-medkit"></i><span>Pharmacy</span>
                    </a>
                    <ul class="nav-dropdown" *ngIf="!PharmacyCollapsed" [@collapseExpand]>
                        <li *ngIf="canViewPharmacy"><a [routerLink]="['/pharmacy']">Pharmacy Dashboard</a></li>
                        <li *ngIf="canViewPharmacy"><a [routerLink]="['/pharmacy/products']">Medicine Catalog</a></li>
                        <li *ngIf="canViewPharmacyCustomers"><a [routerLink]="['/pharmacy/customers']">Customers</a></li>
                        <li *ngIf="canViewPharmacySuppliers"><a [routerLink]="['/pharmacy/suppliers']">Suppliers</a></li>
                        <li *ngIf="canViewPharmacyInventory"><a [routerLink]="['/pharmacy/inventory']">Inventory</a></li>
                        <li *ngIf="canViewPharmacyStockMovements"><a [routerLink]="['/pharmacy/stock-movements']">Stock Movements</a></li>
                        <li *ngIf="canViewPharmacyTransfers"><a [routerLink]="['/pharmacy/transfers']">Stock Transfers</a></li>
                        <li *ngIf="canViewPharmacySales"><a [routerLink]="['/pharmacy/sales']">Sales</a></li>
                        <li *ngIf="canOpenPharmacyPos"><a [routerLink]="['/pharmacy/pos']">Pharmacy POS</a></li>
                        <li *ngIf="canViewPharmacyReturns"><a [routerLink]="['/pharmacy/returns/sales']">Sales Returns</a></li>
                        <li *ngIf="canViewPharmacyPayments"><a [routerLink]="['/pharmacy/payments']">Payments</a></li>
                        <li *ngIf="canViewPharmacyRegisterSessions"><a [routerLink]="['/pharmacy/register-sessions']">Register Sessions</a></li>
                        <li *ngIf="canViewPharmacyExpenses"><a [routerLink]="['/pharmacy/expenses']">Expenses</a></li>
                        <li *ngIf="canViewPosReports"><a [routerLink]="['/pharmacy/reports']">Pharmacy Reports</a></li>
                    </ul>
                </li>

                <li *ngIf="canViewLaboratory">
                    <a (click)="LaboratoryCollapsed = !LaboratoryCollapsed" [attr.aria-expanded]="!LaboratoryCollapsed"
                        class="has-arrow">
                        <i class="fa fa-flask"></i><span>Laboratory</span>
                    </a>
                    <ul class="nav-dropdown" *ngIf="!LaboratoryCollapsed" [@collapseExpand]>
                        <li><a [routerLink]="['/laboratory']">Lab Dashboard</a></li>
                        <li><a [routerLink]="['/laboratory/created-reports']">Created Lab Reports</a></li>
                        <li *ngIf="canManageLaboratory"><a [routerLink]="['/laboratory/create-order']">Create Lab Order</a></li>
                        <li><a [routerLink]="['/laboratory/catalog']">Test Catalog</a></li>
                        <li *ngIf="canManageLaboratory"><a [routerLink]="['/laboratory/settings']">Lab Print Details</a></li>
                        <li><a [routerLink]="['/laboratory/records']">Legacy Notes</a></li>
                    </ul>
                </li>

                <li *ngIf="canViewWardAdmin">
                    <a (click)="WardCollapsed = !WardCollapsed" [attr.aria-expanded]="!WardCollapsed" class="has-arrow">
                        <i class="fa fa-heartbeat"></i><span>Ward & Nursing</span>
                    </a>
                    <ul class="nav-dropdown" *ngIf="!WardCollapsed" [@collapseExpand]>
                        <li><a [routerLink]="['/ward/dashboard']" routerLinkActive="active">Dashboard</a></li>
                        <li><a [routerLink]="['/ward/bed-management']" routerLinkActive="active">Bed Management</a></li>
                        <li><a [routerLink]="['/ward/patient-list']" routerLinkActive="active">Patient List</a></li>
                        <li><a [routerLink]="['/ward/admissions']" routerLinkActive="active">Admissions</a></li>
                        <li><a [routerLink]="['/ward/nursing-care']" routerLinkActive="active">Nursing Care</a></li>
                        <li><a [routerLink]="['/ward/mar']" routerLinkActive="active">MAR / Medications</a></li>
                        <li><a [routerLink]="['/ward/drips-iv']" routerLinkActive="active">Drips / IV Fluids</a></li>
                        <li><a [routerLink]="['/ward/vitals']" routerLinkActive="active">Vitals & Observations</a></li>
                        <li><a [routerLink]="['/ward/io-chart']" routerLinkActive="active">I/O Chart</a></li>
                        <li><a [routerLink]="['/ward/orders-services']" routerLinkActive="active">Orders & Services</a></li>
                        <li><a [routerLink]="['/ward/shift-handover']" routerLinkActive="active">Shift Handover</a></li>
                        <li><a [routerLink]="['/ward/nurses-staff']" routerLinkActive="active">Nurses & Staff</a></li>
                        <li><a [routerLink]="['/ward/inventory']" routerLinkActive="active">Ward Inventory</a></li>
                        <li><a [routerLink]="['/ward/reports']" routerLinkActive="active">Reports</a></li>
                        <li><a [routerLink]="['/settings']" routerLinkActive="active">Settings</a></li>
                        <li><a [routerLink]="['/ward-admin']" routerLinkActive="active">Ward Notes</a></li>
                    </ul>
                </li>

                <li *ngIf="canViewAllRoutes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/todolist']"><i class="fa fa-th-list"></i> <span>Todo List</span></a>
                </li>

                <li *ngIf="canViewPatients || canManagePatients || canViewBilling">
                    <a (click)="PatientCollapsed = !PatientCollapsed" [attr.aria-expanded]="!PatientCollapsed"
                        class="has-arrow">
                        <i class="fa fa-user-circle-o"></i><span>Patients</span>
                    </a>
                    <ul class="nav-dropdown" *ngIf="!PatientCollapsed" [@collapseExpand]>
                        <li *ngIf="canViewPatients"><a [routerLink]="['/patients/all-patients']">All Patient</a></li>
                        <li *ngIf="canManagePatients"><a [routerLink]="['/patients/add-patient']">Add Patient</a></li>
                        <li *ngIf="canViewPatients"><a [routerLink]="['/patients/patient-profile']">Patient Profile</a></li>
                        <li *ngIf="canViewBilling"><a [routerLink]="['/patients/patient-invoices']">Patient Invoices</a></li>
                    </ul>
                </li>

                <li *ngIf="canViewRooms || canManageRooms || canViewRoomAllotments || canManageRoomAllotments">
                    <a (click)="RoomCollapsed = !RoomCollapsed" [attr.aria-expanded]="!RoomCollapsed" class="has-arrow">
                        <i class="fa fa-thumbs-up"></i><span>Room Allotment</span>
                    </a>
                    <ul class="nav-dropdown" *ngIf="!RoomCollapsed" [@collapseExpand]>
                        <li *ngIf="canViewRooms || canManageRooms"><a [routerLink]="['/room-allotment']">Rooms</a></li>
                        <li *ngIf="canViewRoomAllotments"><a [routerLink]="['/room-allotment/alloted-rooms']">Alloted Rooms</a></li>
                        <li *ngIf="canManageRoomAllotments"><a [routerLink]="['/room-allotment/add-alloted-rooms']">Add Allotment</a></li>
                    </ul>
                </li>

                <li *ngIf="canViewDepartments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/departments']"><i class="fa fa-table"></i><span>Departments</span></a>
                </li>

                <li *ngIf="canViewBilling || canManageBilling">
                    <a (click)="PaymentCollapsed = !PaymentCollapsed" [attr.aria-expanded]="!PaymentCollapsed"
                        class="has-arrow">
                        <i class="fa fa-cc-paypal"></i><span>Payments</span>
                    </a>
                    <ul class="nav-dropdown" *ngIf="!PaymentCollapsed" [@collapseExpand]>
                        <li *ngIf="canViewBilling"><a [routerLink]="['/payments']" routerLinkActive="active">Patient Payments</a></li>
                        <li *ngIf="canManageBilling"><a [routerLink]="['/payments/addpayment']">Add Payments</a></li>
                        <li *ngIf="canViewBilling"><a [routerLink]="['/payments/ledger']">Patient Ledger</a></li>
                        <li *ngIf="canViewBilling"><a [routerLink]="['/payments/invoices']">Invoice</a></li>
                    </ul>
                </li>

                <li *ngIf="canViewHospitalAdministration || canViewAllRoutes" class="header">Admin</li>
                <li *ngIf="canViewAllRoutes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/app-inbox']"><i class="fa fa-envelope"></i><span>Email</span>
                        <span class="badge badge-default mr-0">12</span></a>
                </li>

                <li *ngIf="canViewAllRoutes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/app-chat']"><i class="fa fa-comments"></i><span>Chat</span></a>
                </li>

                <li *ngIf="canViewAllRoutes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/our-staff']"><i class="fa fa-users"></i><span>Our Staffs</span></a>
                </li>

                <li *ngIf="canViewHospitals" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/hospitals']"><i class="fa fa-hospital-o"></i><span>Hospitals</span></a>
                </li>

                <li *ngIf="canViewUsers" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/users']"><i class="fa fa-users"></i><span>Users</span></a>
                </li>

                <li *ngIf="canViewRoles" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/roles']"><i class="fa fa-shield"></i><span>Roles</span></a>
                </li>

                <li *ngIf="canViewAuditLogs" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/audit-logs']"><i class="fa fa-history"></i><span>Audit Logs</span></a>
                </li>

                <li *ngIf="canViewSettings" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/settings']"><i class="fa fa-gear"></i><span>Settings</span></a>
                </li>

                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-account-action">
                    <a [routerLink]="['/change-password']">
                        <i class="fa fa-key"></i><span>Change Password</span>
                    </a>
                </li>

                <li *ngIf="canViewAllRoutes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/contacts']"><i class="fa fa-address-book"></i><span>Contacts</span></a>
                </li>

                <li *ngIf="canViewAllRoutes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/filemanager']"><i class="fa fa-folder"></i><span>File Manager</span></a>
                </li>

                <li *ngIf="canViewAllRoutes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/our-centers']"><i class="fa fa-map-marker"></i><span>Our Centres</span></a>
                </li>

                <li *ngIf="canViewAllRoutes" class="header">Social</li>
                <li *ngIf="canViewAllRoutes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/blog']"><i class="fa fa-globe"></i><span>Blog</span></a>
                </li>

                <li *ngIf="canViewAllRoutes" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['/social']"><i class="fa fa-share-alt-square"></i><span>Social</span></a>
                </li>

                <li *ngIf="canViewAllRoutes" class="extra_widget">
                    <div class="form-group">
                        <label class="d-block">Traffic this Month <span class="float-right">77%</span></label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="77"
                                aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="d-block">Server Load <span class="float-right">50%</span></label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50"
                                aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
